svg(viewBod="0 0 52 52" fill="curentColor" stroke-width="3" focusable="false" aria-hidden="true" role="presentation" stroke-linecap="round" stroke-linejoin="round" style="height: 1em; width: 1em; display: block; overflow: visible;")
    path(d="m19.1 25.2 4.7 6.2 12.1-11.2")