div
    div.main_contents_div
        .content
            //- div(style="border-radius: inherit")
            //-     img.main_img(src="../../images/main_img.jpg")
        .content
        .content
        .content