    section#login_modal(style="display: none")
      div.modal_overlay#modal_overlay
      div.modal_container#modal_container
        div.modal#modal(role="dialog" aria-label="로그인" style="position: relative;")
          div.close_modal#close_modal
            button.close_modal_btn(aria-label="닫기" type="button")
              span.close_modal_icon
                include ../public/images/svg_pug/close_modal.pug
          header.modal_header
            div.modal_div1
            div.modal_div2
              h1.modal_title(tabindex="-1")
                div.modal_title_text 로그인
          div.modal_contents
            section
              div
                div(style="margin-bottom: 8px;")
                  form(method="POST")
                    button.facebook_login(type="submit" aria-busy="false")
                      span.login_btn
                        div.login_btn_div
                          div.login_btn_content
                            div(style="margin-right: 12px;")
                              include ../public/images/svg_pug/login_facebook.pug
                          div.login_btn_content
                            div 페이스북 계정으로 로그인 (작동 안함)
                form(method="POST")
                  button.google_login(type="submit" aria-busy="false")
                    span.login_btn
                      div.login_btn_div
                        div.login_btn_content
                          div(style="margin-right: 12px;")
                            include ../public/images/svg_pug/login_google.pug
                        div.login_btn_content
                          div 구글 계정으로 로그인 (작동 안함)
              div
                div(style="margin-top: 16px; margin-bottom:16px;")
                  div.email_login_start
                    span.email_login_line
                      span.line_left
                      span.email_login_or 또는
                      span.line_right
                form(action="/login" method='post')
                  div
                    div(style="margin-bottom: 16px;")
                      div.login_input
                        label.input_label(for="email-login-email") 이메일 주소
                        div
                          div.input_box#input_box_email
                            div.input_icon_space
                              div.input_icon1
                                div.input_icon2
                                  div.input_icon_image
                                    include ../public/images/svg_pug/login_email.pug
                            div.input_box_real
                              input.login_input_form#login_input_form_email(name="email" autocomplete="username" placeholder="이메일 주소" type="email" value)
                    div(style="margin-bottom: 16px;")
                      .login_input
                        label.input_label(for="email-login-password") 비밀번호
                        div
                          .input_box#input_box_password
                            .input_icon_space
                              .input_icon1
                                .input_icon2
                                  .input_icon_image
                                    include ../public/images/svg_pug/login_password.pug
                            .input_box_real
                              input.login_input_form#login_input_form_password(name="password" autocomplete="off" class="_14fdu48d" placeholder="비밀번호" type="password" autocapitalize="nene" autocorrect="off" spellcheck="false" valse)
                    div(style="margin-bottom: 16px;")
                      .show_password
                        .show_password_space
                        .show_password_btn_div
                          div
                            button.text_btn(type="button" aria-busy="false") 비밀번호 보기
                    div(style="margin-bottom: 16px;")
                      div(style="margin-top: 8px")
                        div.login_alternative
                          button.text_btn(type="button" aria-busy="false") 전화번호로 로그인
                          .dot
                            .dot_inner ·
                          button.text_btn(type="button" aria-busy="false") 비밀번호를 잊으셨나요?
                    div(style="margin-bottom: 16px;")
                      button.main_login_btn(type="submit" aria-busy="false")
                        span.main_login_btn_text 로그인