<!DOCTYPE html>
<html>
  <head>
    <title>숙소, 체험, 장소를 모두 한 곳에서 - 에어비앤비</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script type="text/javascript" async src="/javascripts/index.js"></script>
    <meta charset="utf-8">
  </head>
  <body>
    <noscript>&quot;&lt;div class=&quot;alert alert-with-icon alert-error no-js-alert&quot; data-nosnippet=&quot;true&quot;&gt;&lt;i class=&quot;icon alert-icon icon-alert-alt&quot;&gt;&lt;/i&gt;죄송합니다. 에어비앤비 웹사이트의 일부는 자바스크립트가 활성화되어 있지 않으면 제대로 작동하지 않습니다.&lt;/div&gt;&quot;</noscript>
    <div class="fixed_box">
      <aside class="fixed_message"><a class="fixed_message_text"><span class="fixed_message_space">에어비앤비의 코로나19 대응 방안에 대한 최신 정보를 확인하세요.</span></a></aside>
    </div>
    <header class="header">
      <div class="header1">
        <div class="header2"><a class="header3" aria-label="에어비앤비 홈페이지" href="/"><img src="/images/airbnb-brands.svg"></a></div>
        <div class="header2">
          <nav class="header4" aria-label="메인">
            <div class="header5"><a class="become_a_host" herf="/become_a_host">
                <div class="become_a_host_text">호스트 되기</div></a></div>
          </nav>
        </div>
      </div>
    </header>
    <button onclick="location.href='/login'"></button>
    <button onclick="location.href='/become_a_host'">숙소 등록</button>
    <button onclick="location.href='/signUp'">회원가입</button>
    <h1></h1>
  </body>
</html>