extends layout

block content
  button(onclick="location.href='/login'")= button
  button(onclick="location.href='/become_a_host'") 숙소 등록
  if !isLogin
    button(onclick="location.href='/signUp'") 회원가입
    h1= user