doctype html
html
  head
    title 숙소, 체험, 장소를 모두 한 곳에서 - 에어비앤비
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/search.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(type="text/javascript" async src="/javascripts/index.js")
    meta(charset="utf-8")
  body
    div#body_div
    noscript &quot;&lt;div class=&quot;alert alert-with-icon alert-error no-js-alert&quot; data-nosnippet=&quot;true&quot;&gt;&lt;i class=&quot;icon alert-icon icon-alert-alt&quot;&gt;&lt;/i&gt;죄송합니다. 에어비앤비 웹사이트의 일부는 자바스크립트가 활성화되어 있지 않으면 제대로 작동하지 않습니다.&lt;/div&gt;&quot;
    div.fixed_box
      aside.fixed_message
        a.fixed_message_text
          span.fixed_message_space 에어비앤비의 코로나19 대응 방안에 대한 최신 정보를 확인하세요.
    header.header
      div.header_logo
        div
          a.header_logo_link(aria-label="에어비앤비 홈페이지" href="/")
            include ../public/images/svg_pug/airbnb_logo.pug
        div
          nav.header_menu(aria-label="메인")
            div.header_menu_right
              a.become_a_host(href="/become_a_host")
                div.become_a_host_text 호스트 되기
              div.header_language
                button.headerBtn(type="button", aria-expanded="false" aria-label="언어와 통화")
                    div.header_language_btn
                      div.header_language_btn_icon
                        include ../public/images/svg_pug/language_icon.pug
                      div
                        include ../public/images/svg_pug/show_list.pug
            div
              div.header_user
                button.header_user_btn#header_user_btn(type="button" aria-expanded="false")
                  div(aria-label="메인 탐색 메뉴")
                    include ../public/images/svg_pug/profile_menu.pug
                  div.header_user_icon
                    include ../public/images/svg_pug/profile_default.pug
                div.profile_menu_container#profile_menu_container
                  div.profile_menu#profile_menu
                    ul
                      li#login 로그인
                      li#signup 회원가입
                      .li_line
                      li 숙소 호스트 되기
                      li 체험 호스팅 하기
                      li 도움말
    div(style="height: 80px")
    include ./components/search
    section#login_modal(style="display: none")
      div.modal_overlay#modal_overlay
      div.modal_container#modal_container
        div.modal#modal(role="dialog" aria-label="로그인" style="position: relative;")
          div.close_modal#close_modal
            button.close_modal_btn(aria-label="닫기" type="button")
              span.close_modal_icon
                include ../public/images/svg_pug/close_modal.pug
          header.modal_header
            div.modal_div1
            div.modal_div2
              h1.modal_title(tabindex="-1")
                div.modal_title_text 로그인
          div.modal_contents
            section
              div
                div(style="margin-bottom: 8px;")
                  form(method="POST")
                    button.facebook_login(type="submit" aria-busy="false")
                      span.login_btn
                        div.login_btn_div
                          div.login_btn_content
                            div(style="margin-right: 12px;")
                              include ../public/images/svg_pug/login_facebook.pug
                          div.login_btn_content
                            div 페이스북 계정으로 로그인 (작동 안함)
                form(method="POST")
                  button.google_login(type="submit" aria-busy="false")
                    span.login_btn
                      div.login_btn_div
                        div.login_btn_content
                          div(style="margin-right: 12px;")
                            include ../public/images/svg_pug/login_google.pug
                        div.login_btn_content
                          div 구글 계정으로 로그인 (작동 안함)
              div
                div(style="margin-top: 16px; margin-bottom:16px;")
                  div.email_login_start
                    span.email_login_line
                      span.line_left
                      span.email_login_or 또는
                      span.line_right
                form(action="/login" method='post')
                  div
                    div(style="margin-bottom: 16px;")
                      div.login_input
                        label.input_label(for="email-login-email") 이메일 주소
                        div
                          div.input_box#input_box_email
                            div.input_icon_space
                              div.input_icon1
                                div.input_icon2
                                  div.input_icon_image
                                    include ../public/images/svg_pug/login_email.pug
                            div.input_box_real
                              input.login_input_form#login_input_form_email(name="email" autocomplete="username" placeholder="이메일 주소" type="email" value)
                    div(style="margin-bottom: 16px;")
                      .login_input
                        label.input_label(for="email-login-password") 비밀번호
                        div
                          .input_box#input_box_password
                            .input_icon_space
                              .input_icon1
                                .input_icon2
                                  .input_icon_image
                                    include ../public/images/svg_pug/login_password.pug
                            .input_box_real
                              input.login_input_form#login_input_form_password(name="password" autocomplete="off" class="_14fdu48d" placeholder="비밀번호" type="password" autocapitalize="nene" autocorrect="off" spellcheck="false" valse)
                    div(style="margin-bottom: 16px;")
                      .show_password
                        .show_password_space
                        .show_password_btn_div
                          div
                            button.text_btn(type="button" aria-busy="false") 비밀번호 보기
                    div(style="margin-bottom: 16px;")
                      div(style="margin-top: 8px")
                        div.login_alternative
                          button.text_btn(type="button" aria-busy="false") 전화번호로 로그인
                          .dot
                            .dot_inner ·
                          button.text_btn(type="button" aria-busy="false") 비밀번호를 잊으셨나요?
                    div(style="margin-bottom: 16px;")
                      button.main_login_btn(type="submit" aria-busy="false")
                        span.main_login_btn_text 로그인
              div(style="margin-top: 16px; margin-bottom: 16px;")
                div.line
              div
                span.light_text 에어비앤비 계정이 없으세요?
                #sign_up_btn
                  button.text_btn#sign_up_btn(type="button" aria-busy="false") 회원 가입
    include ./components/modal_sign_up
    main
      div(style="min-height: 400px; overflow-anchor: none;")
        include ./components/main_first


    