doctype html
html
    head
        title= title
    body
        h1 로그인
        form(action='#' method='post')
            p ID: 
                input(type="text" name="id")
            p password: 
                input(type="password" name="password")
            p
                input(type="submit" value="로그인")