doctype html
html
    head
        title= title
    body
        h1 로그인
        form(method='post')
            p 이메일 주소: 
                input(type="text")
            p 비밀번호: 
                input(type="password" )
            p
                input(type="submit" value="로그인")