doctype html
html
    head
        title= title
    body
        h1 회원가입
        form(method='post')
            p 이메일 주소: 
                input(type="text" name="email")
            p 이름(예: 길동): 
                input(type="text" name="firstName")
            p 성(예: 홍): 
                input(type="text" name="lastName")
            p 비밀번호: 
                input(type="password" name="password")
            p 생년월일: 
                input(type="date" name="birthday")
            p
                input(type="submit" value="가입하기")