doctype html
html
    head
        title= title
    body
        h1 회원가입
        form(action='#' method='post')
            p ID: 
                input(type="text" name="id")
            p password: 
                input(type="password" name="password")
            p 생년월일:
                input(type="date" name="birthday")
            p
                input(type="submit" value="완료")